* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
.head {
  font-weight: bold;
  border-bottom: 3px solid black;
}
.row {
  display: flex;
}
.row:nth-of-type(even) {
  background: rgba(230, 230, 230, 0.3);
}
.cell {
  align-self: center;
  width: 200px;
  text-overflow: ellipsis;
  padding: 10px 30px;
  border-left: 1px solid black;
}
